@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
}

/* header related styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

/* banner related styles */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: rgb(114, 114, 114);
}
.banner img {
  width: 100%;
  margin-top: 20px;
}
/* main section styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
  width: 530px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  font-weight: 500;
  color: #727272;
}
.teams-title .features-text {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  color: #727272;
  margin-bottom: 30px;
}

/* feature section styles */
.features {
  margin-top: 130px;
  gap: 100px;
  display: flex;
}
.features .feature-title {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
}
.features .feature-description {
  color: rgb(114, 114, 114);
}
.feature-content .card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px;
  margin-bottom: 20px;
}
.feature-img img{
  height: 80%;
  margin-left: 35px;
}
.ten-years-badge {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  width: 340px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
  right: 60px;
}
.ten-years-badge h2{
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p{
  font-size: 1.5rem;
}
/* facts section related styles */
.facts h3 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
}
.facts p {
  color: #727272;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-stats {
  color: rgb(66, 66, 66);
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  color: rgb(114, 114, 114);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors styles */
.sponsors {
  text-align: center;
}
.sponsors .section-title {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
.sponsors .section-description {
  color: rgb(114, 114, 114);
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}
.sponsors-img-container img {
  width: 165px;
}

/* responsive media query */

/* mobile devices */

@media screen and (max-width: 576px) {
  header,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  nav,
  .teams-container,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content {
    width: 100%;
    padding: 20px;
  }
  .feature-img img{
    width: 100%;
    margin: 0;
  }
  .ten-years-badge{
    position: static;
    width: 320px;
  }

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams-container,
  .features,
  .sponsors-img-container {
    flex-direction: column;
  }
  .ten-years-badge{
    position: static;
    width: 320px;
    margin-left: 35px;
    margin-top: 5px;
  }
  header {
    padding: 20px;
  }
}
